@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

html, body {
    font-family: 'Roboto';
    margin: 20px auto;
    max-width: 1000px;
    width: calc(100% - 20px);
    background-color: #F0EAD6;
    color: #545454;
}

h3 {
    font-style: italic;
    color: brown;
}

.tech-list img {
    width: 30px;
}

.summary ul li {
    padding-left: 0;
    list-style-type: none;
}

